h1{
    color: blue;
}

div{
    background-color: gray;
}

li{
    font-weight: bold;
    color: red
}

div p{
    margin-left: 20px;
}

tr {
    color:blueviolet;
    background-color: coral;
}